@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/PlayFairDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/PlayFairDisplay-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GreatVibes-Regular.ttf") format("truetype");
  font-display: swap;
}
